
.alignnone {
	margin:5px 0 !important;
}

.aligncenter, div.aligncenter {
	display:block;
	text-align:center;
	margin:30px auto !important;
}

.alignright {
	display:inline;
	float:right;
	margin:5px 0 30px 30px !important;
}

.alignleft {
	display:inline;
	float:left;
	margin:5px 30px 30px 0 !important;
}

.alignfull {
    position:relative;
    background-size:cover !important;
    background-repeat:no-repeat;
    max-width:3000px !important;
    margin:0;
	padding:0;
    width:100vw !important;
    left:calc(50% - 50vw);
}

a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}

a img.alignnone {
	margin:5px 20px 20px 0;
}

a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}

a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.has-large-font-size {
	font-size:1.5em;
	line-height:1.5em;
}

/* Caption */
.gallery-caption {
	display:block;
}

ul.blocks-gallery-grid {
	margin:0;
}

ul.blocks-gallery-grid li, 
ol.wp-block-latest-comments li, 
ul.wc-block-grid__products li {
    padding-left: 0;
}

.blocks-gallery-caption {
	margin-bottom:20px;
}

.wp-caption {
	max-width:100%;
	margin-bottom:1.5em;
}

.wp-caption.alignnone,
.wp-caption.aligncenter {
	clear:both;
}

.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}

.wp-caption.alignright {
	margin:5px 0 20px 20px;
}

.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	padding:0;
	border-radius:0;
}

.wp-caption p.wp-caption-text {
	font-size:13px;
	line-height:1.5em;
	font-style:italic;
	color:#999;
	margin-top:10px;
	padding:0;
}

.sidebar .wp-caption.alignnone,
footer .wp-caption.alignnone {
	width:100%;
	max-width:100%;
	margin-bottom:20px !important;
}

/* Code */
pre {
	background:#f5f5f5;
	color:#666;
	font-family:monospace;
	font-size:14px;
	margin:20px 0;
	overflow:auto;
	padding:20px;
	white-space:pre;
	white-space:pre-wrap;
	word-wrap:break-word;
}

code {
	background-color:#f8f9fa;
}

blockquote code {
	background:transparent;
}

.wp-block-code code {
	border:0;
	margin:0;
}

/* Text widget */
.textwidget select {
  	max-width:100%;
}

.textwidget img {
	max-width:100%;
	height:auto;
}

/* Sticky post */
.sticky:before {
	position:absolute;
	right:0;
	top:5px;
  	content:'\f08d';
	font-family:'Font Awesome 5 Free';
	font-weight:900;
	font-size:21px;
	color:#ddd;
	-webkit-transform:rotate(15deg);
	   -moz-transform:rotate(15deg);
			transform:rotate(15deg);
}

/* Button */
.wp-block-button {
	margin:0 5px 5px 0;
}

/* Search */
.wp-block-search {
	margin-bottom:20px;
}

/* Group */
.wp-block-group.has-background {
	padding:20px;
}

/* Latest posts */
.wp-block-latest-posts {
	list-style:none;
	margin:0 !important;
	padding:0 !important;
}

.wp-block-latest-posts li {
	padding:0 !important;
	margin-bottom:20px !important;
}

/* Image */
.wp-block-image {
	margin-bottom:1em;
}

.wp-block-image,
.wp-block-columns,
.wp-block-cover, 
.wp-block-cover-image,
.wp-block-gallery.alignfull,
.wp-block-gallery.alignwide,
.wp-block-embed.alignfull,
.wp-block-embed.alignwide {
	max-width:100% !important;
	left:0 !important;
}

.wp-block-image.alignfull img, 
.wp-block-image.alignwide img {
    width:100%;
}

/* Cover */
.wp-block-cover, 
.wp-block-cover-image {
	position:relative;
	background-color:#000;
	background-size:cover;
	background-position:50%;
	min-height:400px;
	width:100%;
	margin:0 0 1.5em;
	display:flex;
	justify-content:center;
	align-items:center;
	overflow:hidden;
}

.wp-block-cover-image.alignright, 
.wp-block-cover.alignright, 
.wp-block-cover-image.alignleft, 
.wp-block-cover.alignleft, 
.wp-block-cover-image.aligncenter, 
.wp-block-cover.aligncenter {
    display:flex;
}

.wp-block-cover-image.alignleft, 
.wp-block-cover-image.alignright, 
.wp-block-cover.alignleft, 
.wp-block-cover.alignright {
	max-width:300px !important;
	width:100%;
}

.wp-block-cover-text {
	color:#fff !important;
	font-weight:600;
	width:90%;
	max-width:none !important;
}

.wp-block-cover p,
.wp-block-cover__inner-container > p:last-child {
	margin:0 !important;
}

/* Separator */
.wp-block-separator {
	border:0;
	background-color:#f1f1f1;
	height:1px;
	max-width:100px;
}

.wp-block-separator.is-style-wide {
	width:100%;
	max-width:none;
	margin:1.65em auto;
}

.wp-block-separator.is-style-dots {
	width:100%;
	max-width:none;
	text-align:center;
	line-height:1;	
	margin-bottom:1.6em;	
}

.wp-block-separator.is-style-dots:before {
    content:"\00b7 \00b7 \00b7";
    color:#191e23;
    font-size:20px;
    letter-spacing:2em;
    padding-left:2em;
    font-family:serif;
}

/* Comments */
.wp-block-latest-comments article footer {
	clear:none;
}

/* Verse */
pre.wp-block-verse {
	clear:both;
	border:0 !important;
	color:inherit;
	font-family:inherit;
	font-size:inherit;
	font-style:italic  !important;
	line-height:inherit;
	max-width:100%;
	overflow:auto;
}

/* Pullquote */
.wp-block-pullquote {
	font-style:italic;
	font-size:24px;
	font-weight:bold;
	margin:0 0 1.6em;
}

.wp-block-pullquote blockquote {
	border-left:5px solid #000;
	font-size:24px;
	margin:0;
	color:#999 !important;
	background:transparent !important;
}

.wp-block-pullquote blockquote p {
	color:#999 !important;
	font-size:1.5em;
	line-height:1.5em;
	margin-bottom:20px !important;
}

.wp-block-pullquote blockquote p:last-child {
	margin-bottom:0 !important;
}

.wp-block-pullquote.is-style-solid-color blockquote {
	background:transparent !important;
	padding:0 1.5em !important;
	max-width:100% !important;
}

.wp-block-pullquote__citation,
.wp-block-pullquote cite,
.wp-block-pullquote footer {
	font-size:18px;
	font-style:normal;
	text-transform:none;
}

.wp-block-pullquote.alignfull blockquote {
	padding-left:1.6em;
	padding-right:1.6em;
}

.wp-block-pullquote.alignleft {
	margin-right:1.6em;
}

.wp-block-pullquote.alignright {
	margin-left:1.6em;
}

/* Blockquote */
blockquote p,
.wp-block-quote p, 
.wp-block-quote.is-large p, 
.wp-block-quote.is-style-large p {
	position:relative;
	font-style:italic;
	font-size:27px;
	line-height:35px;
	color:#fff;
	margin-bottom:1.5em !important;
}

.wp-block-quote.is-large p, 
.wp-block-quote.is-style-large p {
	font-size:32px;
	line-height:42px;
	font-style:italic;
}

blockquote,
blockquote.wp-block-quote {
	border-left:none;
	padding:30px !important;
	color:#fff !important;
	border-radius:3px;
	margin-bottom:1.75em;
}

blockquote p a,
blockquote.wp-block-quote p a {
	color:#fff !important;
	text-decoration:underline;
}

blockquote:before,
blockquote.wp-block-quote:before {
    content:'\201C';
	position:relative;
    top:10px;
    font-style:normal;
	font-family:serif;
    font-size:80px;
	line-height:80px;
    font-weight:700;
	margin-bottom:1.75em;
}

blockquote p:last-child,
blockquote.wp-block-quote p:last-child {
	margin-bottom:0 !important;
}

blockquote cite,
blockquote.wp-block-quote cite {
	display:block;
	z-index:2;
	font-size:12px;
	letter-spacing:1.5px;
	font-weight:500;
	text-transform:uppercase;
}

.wp-block-quote.is-large cite, 
.wp-block-quote.is-style-large cite {
	font-size:16px;
}

blockquote.wp-block-quote cite:before {
	content:"-";
	margin-right:4px;
}

.wp-block-quote.is-large cite, 
.wp-block-quote.is-large footer, 
.wp-block-quote.is-style-large cite, 
.wp-block-quote.is-style-large footer {
	text-align:left;
}

blockquote.wp-block-quote cite br {
	display:none;
}

/* Blockquote large style */
blockquote.wp-block-quote.is-style-large {
    padding:60px 65px 55px;
    margin-bottom:40px;
    position:relative;
    margin-top:40px;
    overflow:hidden;
}

blockquote.wp-block-quote.is-style-large p {
	z-index:2;
	color:#fff;
}

blockquote.wp-block-quote.is-style-large cite {
	z-index:2;
	position:relative;
	color:#fff;
}

/* Archives / Categories */
.wp-block-archives,
.wp-block-categories {
	margin:0;
	padding:0;
}

.wp-block-archives li, .wp-block-categories li,
.wp-block-archives ol, .wp-block-categories ol,
.wp-block-archives ul, .wp-block-categories ul {
	list-style:none;
	margin:0;
	padding:0;
}

.wp-block-archives li,
.wp-block-categories li {	
    border-bottom:1px solid #f0f0f0;
	padding:10px;
}

.wp-block-archives li:first-child,
.wp-block-categories li:first-child {
    border-top:1px solid #f0f0f0;
}

/* Captions */
[class^="wp-block-"] figcaption {
	font-size:15px;
	line-height:1.5em;
	font-style:italic;
	margin-top:.5em;
}

[class^="wp-block-"]:not(.wp-block-gallery) figcaption {
	color:#999;
}

/* Gallery */
.gallery-item {
	display:inline-block;
	text-align:center;
	vertical-align:top;
	width:100%;
}

.gallery-item a {
	display:block;
}

.gallery-item a:focus img {
	outline-offset:-2px;
}

.gallery-item img {
	width:100%;
	border:0 !important;
}

.gallery-columns-2 .gallery-item {
	max-width:50%;
}

.gallery-columns-3 .gallery-item {
	max-width:33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width:25%;
}

.gallery-columns-5 .gallery-item {
	max-width:20%;
}

.gallery-columns-6 .gallery-item {
	max-width:16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width:14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width:12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width:11.11%;
}

.gallery-caption {
	display:block;
	margin:10px 0 20px;
}

/* Comments */
.wp-block-latest-comments {
	padding:0;
}

.wp-block-latest-comments__comment {
	margin-bottom:20px !important;
}

.wp-block-latest-comments__comment-excerpt {
	margin:1em 0 0 4em !important;
}

/* Media & text */
.col-lg-8 .wp-block-media-text.alignfull {
	width:100% !important;
	left:0 !important;
}

.wp-block-media-text.alignfull {
	margin-bottom:1.6em !important;
}



